@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
:root {
  --amarillo: #eac926;
  --azul: #03264c;
  --celeste: #1259c3;
  --blanco:#f5f0ff;
  --morado:#6c2bd9;
  --gris-oscuro: #666;
  --gris-claro: #ebebeb;
  --verde: #39b54a;

  /* tipografia */
  --roboto: "Roboto", sans-serif;

  /* tamaños de fuentes */
  --texto: 12px;
  --titulares: 24px;

  --price: 18px;
  --discount: 1rem;
  --description: 1rem;
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
   
  }
  /*ahorro y envio*/
  .box {
    display: flex;
    flex-direction: column;
    background-color:var(--gris-claro);
    padding: 10px;
  }
.ahorro-envio{
    font-weight: bold;
    font-size:var(--titulares) ;
    margin-bottom: 10px;
    margin-left: 10px;
} 


.contenedor{
    margin-left: 20px;
    background-color: var(--blanco);
    border-radius: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    
}
.item{
  display:flex;
  align-items: center;
  gap: 20px;
  font-size:var(--texto);
} 
.parrafo{
  display: flex;
  flex-direction: column;
}
.item i{
    margin-left: 20px;
    color: var(--morado);
} 
/*Fin Silvana*/


